<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

    <title>Therapist reply</title>
    <style>
        body {
            background-image: url("{% static 'therapy.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">
		{% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="">Therapist's Reply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item pull-left">
                <a class="nav-link" href="{% url 'quiz' %}">Quiz</a>
            </li>
            <li class="nav-item pull-left">
                <a class="nav-link" href="{% url 'diary_all' %}">Diary</a>
            </li>
			<li class="nav-item pull-left">
                <a class="nav-link" >{{request.user.username}}</a>
            </li>

            <li class="nav-item pull-left">
                      <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">LogOut</a>
                      <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="hidden" name="" />

      </form>
        </li>
			{% else %}
			<li class="nav-item pull-left">
                <a class="nav-link" href="{% url 'login' %}">LogIn</a>
            </li>
        </ul>
        {% endif %}
    </nav>


    <div class="card border-info" style="border-width: medium; margin-left: 20px; margin-right: 20px; margin-top: 10px">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b><i>{{ diary.title }}:</i></b><br>{{ diary.Addition }}</li>
            {% for comment in diary.comments.all %}
              <li class="list-group-item"><b><i>{{ comment.psychiatrist.username }}:</i></b><br>{{ comment.text }}</li>
			  {% empty %}
			  <li class="list-group-item"><b><i></i></b><br>No comments here yet :(</li>
            {% endfor %}
        </ul>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</body>

</html>
